[Desktop Entry]
Comment=Breeze Chameleon Plasma Theme
Name=Breeze Chameleon
X-KDE-PluginInfo-Author=l4k1
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Name=Breeze-Chameleon
